@import "../../styles/_media-queries.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  width: 27rem;
  height: auto;
  margin: 4rem 0rem 2rem 0rem;

  @include small-screen {
    width: 20rem;
  }
}
