@import "../../styles/_media-queries.scss";

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.logo {
  width: 27rem;
  height: auto;
  margin: 4rem 0rem 2rem 0rem;

  @include small-screen {
    width: 20rem;
  }
}
