.linkContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
  width: 100%;
  margin: 2rem 0rem;
  background-color: rgba(255, 255, 255, 0.519);

  &.dark {
    background-color: rgba(235, 171, 87, 0.551);
  }
}

.link {
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-decoration: none; /* Add this line to remove underline */
  letter-spacing: 0.5rem;
  font-weight: 900;

  &:hover {
    text-decoration: underline 1px; /* Add this line if you want underline on hover */
    font-weight: 600;
    margin-top: 1rem;
    transition: 1s;
  }

  &.dark {
    color: white;
  }
}
