.container {
  display: flex;
  height: 100vh;
}

.imageWrapper {
  width: 40vw;
  max-height: 100vh;
  position: relative;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
}

// Add styles for HomepageLogo as needed
.homepageLogo {
  margin-top: 2rem; // Adjust as needed
}
