@import "../styles/_media-queries.scss";

.layoutContainer {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.children {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100%;
  text-align: center;
  @include small-screen {
    height: 30vh;
  }
}

.homepageLogo {
  position: fixed;
  width: 100%;
  margin-top: 3%;
  @include small-screen {
    margin-top: 10%;
  }
  @include medium-screen {
    margin-top: 10%;
  }
}
