@import "../../styles/_media-queries.scss";

.container {
  position: fixed;
  top: 0;
  display: flex;
  height: 4rem;
  gap: 7.5rem;
  background-color: rgb(198, 198, 198);
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;

  &.dark {
    background-color: rgb(129, 62, 11);
  }

  @include small-screen {
    display: none;
  }

  @include medium-screen {
    gap: 2rem;
  }

  @include large-screen {
    gap: 2rem;
  }
}

.link {
  color: black;
  font-size: 16px;
  padding: 10px;
  text-decoration: none; /* Add this line to remove underline */
  letter-spacing: 0.7rem;

  &.dark {
    color: white;
  }

  &:hover {
    text-decoration: underline 10px; /* Add this line if you want underline on hover */
    font-weight: 600;
    margin-top: 1rem;
    transition: 1s;
  }

  @include small-screen {
    font-size: 10px;
    padding: 2px;
    letter-spacing: 0.2rem;
  }

  @include medium-screen {
    font-size: 14px;
    padding: 2px;
    letter-spacing: 0.2rem;
  }

  @include large-screen {
    font-size: 14px;
    padding: 2px;
    letter-spacing: 0.2rem;
  }
}
