@import "../../styles/_media-queries.scss";

.main {
  position: relative;
  width: 100%;
  margin: 0rem auto;
  background-color: #6f585500;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100%;

  // @include small-screen {
  //   background: linear-gradient(
  //     360deg,
  //     rgba(148, 163, 176, 1) 0%,
  //     rgba(148, 163, 176, 1) 85%,
  //     rgba(148, 163, 176, 0.8895465874233128) 88%,
  //     rgba(148, 163, 176, 0.5858656058282208) 92%,
  //     rgba(148, 163, 176, 0) 100%
  //   );
  //   &.dark {
  //     background: linear-gradient(
  //       360deg,
  //       rgba(2, 0, 36, 1) 0%,
  //       rgba(2, 5, 25, 1) 85%,
  //       rgba(2, 6, 24, 0.8895465874233128) 88%,
  //       rgba(2, 6, 24, 0.5858656058282208) 92%,
  //       rgba(2, 6, 23, 0) 100%
  //     );
  //   }
  // }
}

.mask,
.body {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  line-height: 40px;
  cursor: default;
  overflow: hidden;
  padding-bottom: 10rem;
  font-size: 1.5rem;

  @include small-screen {
    line-height: 2rem;
  }
}

.mask {
  mask-image: url("/ellipse.svg");
  mask-repeat: no-repeat;
  mask-size: 200px;
  background: #6f5855;
  position: absolute;
  z-index: 1;
}

.paragraph {
  padding: 1.25rem; /* Adjust padding as needed */
  margin: 0;
  max-width: 500px;

  &.light {
    color: black;
  }

  &.dark {
    color: white;

    & span {
      color: #f38609;
    }
  }

  & span {
    color: #4d2b03;
  }
  @include small-screen {
    font-size: 1.125rem;
    max-width: 400px;
  }
}
.paragraphMask {
  padding: 1.25rem; /* Adjust padding as needed */
  margin: 0;
  max-width: 500px;

  &.light {
    color: rgb(255, 255, 255);
  }

  &.dark {
    color: white;
  }

  & span {
    color: #690247;
  }
  @include small-screen {
    font-size: 1.125rem;
    max-width: 400px; /* Adjust max-width as needed */
  }
}
