.main {
  position: relative;
  width: 100%;
  margin: 0rem auto;
  background-color: #6f585524;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100%; /* Ensure the .main container takes up full height */
}

.mask,
.body {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 24px; /* Adjust font size as needed */
  line-height: 40px; /* Adjust line height as needed */
  cursor: default;
  overflow: hidden;
}

.mask {
  mask-image: url("/ellipse.svg");
  mask-repeat: no-repeat;
  mask-size: 200px;
  background: #6f5855;
  position: absolute;
  z-index: 1;
}

.paragraph {
  max-width: 400px; /* Adjust max-width as needed */
  padding: 20px; /* Adjust padding as needed */
  margin: 0;
  font-size: 22px;

  &.light {
    color: black;
  }

  &.dark {
    color: white;
  }

  & span {
    color: #eebe87;
  }
}
.paragraphMask {
  max-width: 400px; /* Adjust max-width as needed */
  padding: 20px; /* Adjust padding as needed */
  margin: 0;
  font-size: 22px;

  &.light {
    color: rgb(255, 255, 255);
  }

  &.dark {
    color: white;
  }

  & span {
    color: #690247;
  }
}
