@import "../../styles/_media-queries.scss";

.container {
  display: flex;
  padding: 2rem;
  gap: 20px;
  background-color: rgb(198, 198, 198);
  align-items: center;
  justify-content: center;
  width: 100%;

  &.dark {
    background-color: rgb(129, 62, 11);
  }

  @include small-screen {
    font-size: 14px;
    padding: 1.5rem;
    gap: 1rem;

    &.dark {
      background-color: rgb(129, 62, 11);
    }
  }
}

.link {
  color: black;
  font-size: 16px;
  padding: 10px;
  text-decoration: none; /* Add this line to remove underline */

  &.dark {
    color: white;
  }

  &:hover {
    text-decoration: underline; /* Add this line if you want underline on hover */
  }

  @include small-screen {
    font-size: 14px;
    padding: 2px;
  }
}
